html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
/*font-family: 'PT Serif', serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color:#000;
}

.header{
    text-align: center;
}
.header__logo{
    padding: 88px 0 60px;
}
.menu{
    border-top:2px solid #c4c4c4;
}
.menu__list{
    display: flex;
    justify-content: center;
}
.menu__list-item{
    width: 300px;
}

.menu__list-link{
    color: #888888;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    display: block;/*будет меняться цвет блока или хотя бы инлайн-блок  и строчные имеют отступы между собой*/
    padding: 34px 10px 38px;/*боковые по 10 на будущее, чтобы буквы не прилипли=зарезервировали спейс*/
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    transition: all .3s;

}
.menu__list-link--active,
.menu__list-link:hover{
      background: black;
      color:white;
  }
.menu__list-item:first-child{
    border-left: 1px solid #C4C4C4;
}.menu__list-item:last-child{
    border-right: 1px solid #C4C4C4;
}
.slider__item{
    background-image: url("../images/slider-item.jpg");
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top center;/*шоб кошак не сжимался*/
    background-size: cover;
}
.slick-arrow{
    border:none;
    outline:none;
    background-color: transparent;/*чтобы не было фона у стрелок*/
    position:absolute;
    top:50%;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
}

.slick-next{
  right: 20px;
}

.slick-prev{
    left:20px;
}
.search__inner{
    padding: 60px -0px 70px;
}
.search__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__form-label{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    margin-right:  69px;
    width: 156px;
    color:#888;/*здесь не пишем align, пишем его в форм айтемс*/
}
.search__forn-input{
    height: 70px;
    padding:0 15px;
    width: 430px;
    color:#888;
    border-radius: 0;
    border: 2px solid #c4c4c4;

}
.search__forn-input::placeholder{
    color:#888;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;/*нада бо он индивидуальность*/
    font-size: 18px;
    line-height: 24px;

}
.search__form-btn{
    border-radius: 0;
    border: none;
    background: #C4C4C4;
    color:white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:24px;
    width: 121px;
    /*height:70px ;*/
    padding:  21px  23px 20px 36px ;
    cursor: pointer;
    position: relative;
}
.search__form-btn::before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../images/search-icon.svg);
    top: 26px;
    left: 9px;

}