.box{
    width: 200px;
    height: 200px;
    background: mediumpurple;
    transition: all 0.2s;
    text-align: center;
}

.box:hover{
    background: hotpink;

}

.box:active{
    background: whitesmoke;
}
.link:active{
    color: darkred;
}

.link:visited{
    color:violet;
}
.input{
    display: block;
}
.input:focus{
    outline: none;
    border: 1px solid indianred;
    box-shadow: 1px 1px 2px indianred;
}

li:nth-child(2){
    background: royalblue;
}
li:nth-child(odd){ /*2n/even парные 2n+1 непарные*/
    background: mediumpurple;
}
.menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
}
.menu__link{
    display: inline-block;
    text-decoration: none;
    width: 80px;
    text-align: center;

}

.menu__link::after{ /*element*/
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: hotpink;
    transform: scaleX(0);
    transition: all 0.2s;
}

.menu__link:hover::after{
    transform: scaleX(1);
}
.nav__link{
    width: 80px;
    text-decoration: none;
    display: block;
    margin:20px;
}
.nav__link::before{
    content:'';
    display: block;
    width:100%;
    height:1px;
    background: orange;
    transform: scaleX(0);
    transition: all 0.2s;
    transform-origin:100% ;
}
.nav__link:hover::before{
    transform: scaleX(1);
}
.nav__link::after{
    content:'';
    display: block;
    width:100%;
    height:1px;
    background: orange;
    transform: scaleX(0);
    transition: all 0.2s;
    transform-origin:0 ;
}
.nav__link:hover::after{
    transform: scaleX(1);
}